Builds/
.vscode/
.vs/
Modules/ClassicRender/obj/
Modules/ClassicRender/bin/
Modules/FlatRender/obj/
Modules/FlatRender/bin/
Modules/MidiTrailRender/obj/
Modules/MidiTrailRender/bin/
Modules/NoteCountRender/obj/
Modules/NoteCountRender/bin/
Modules/PFARender/obj/
Modules/PFARender/bin/
Modules/ScriptedRenderer/obj/
Modules/ScriptedRenderer/bin/
Modules/TexturedRender/obj/
Modules/TexturedRender/bin/